<div class="container">
  <div class="jumbotron">
    <h1>Image Craze</h1>
      <p class="lead">
        <em>Upload all of your precious vapid moments</em></p>
        <p><img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://thumbs.dreamstime.com/z/photographer-dslr-camera-shooting-retro-25163544.jpg" style="width: 140px; height: 140px;"></p>
      <div id="container">
      <div id="user_header">
        <%= link_to "Sign Up", new_user_path, :class => 'btn btn-info' %> or
        <%= link_to "Log In", new_session_path, :class => 'btn btn-info' %>
     </div>
</div>
